@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Gochi Hand" !important;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Landing Page */

.banner{
    position: relative;
  height: 52px;
  text-transform: uppercase;
  padding: 10px 0px;
  font-size: 3rem;
  font-weight: 600; 
}

/*Navbar Styles*/

.navbar {
    font-size: 1.25rem;
}

.navbar a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    color: black !important;
}

 .navbar-brand {
    background-color: white;
    color: black;
    clip-path: polygon(0 26%, 100% 15%, 96% 76%, 8% 75%);
    text-align: center;
    vertical-align: middle;
    margin: auto;
    line-height: 90px;
    width: 145px;
  }

  .brand{
    background-color: white;
    color: black;
    clip-path: polygon(0 26%, 100% 15%, 96% 76%, 8% 75%);
    text-align: center;
    line-height: 90px;
    width: 145px;
  }

  .wallet-btn {
    font-size: 20px;
    background-color: #f7e32d;
    border-radius: 100px;
    border: none;
    width: 170px;
    height: 50px;
    cursor: pointer;
  }

  .wallet-btn:hover {
    background-color: #f7a62d;
    cursor: pointer;
  }
@media screen and (min-width: 1200px) {
  .extra-margin{
      margin-left: 25%;
      margin-right: 25%;
  }
}

/*For Different Screen */
@media screen and (min-width: 1200px) {
    .title {
        font-size: 8rem;
      }
      .section2 {
        font-size: 32px;
      }
      .mf {
        font-size: 40px;
      }
      
        .section3 > .container > .row > h1 {
            padding-top: 74px;
            font-size: 135px;
            font-weight: 200;
            text-align: center;
        }
    }
    
    @media screen and (max-width: 1200px) {
        .title {
            font-size: 4rem;
          }
          .section2 {
            font-size: 25px;
          }
          .mf {
            font-size: 32px;
          }

          
        .section3 > .container  > .row > h1 {
            padding-top: 74px;
            font-size: 75px;
            font-weight: 200;
            text-align: center;
        }
    }

/* Title */


.title > span {
    color: white;
  }
  
  .title-desc {
    font-size: 33px;
    max-width: 550px;
  }

  button.title-button {
    margin-top: 50px;
    font-size: 1.3rem;
    background: #509bf5;
    color: white;
    border-radius: 100px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
  }
div.bg-pink{
    background-color: #ffcdd2;
}

.corner > .flower{
  position: absolute;
  z-index: 1;
  left: 70%;
  top: 50%;
  bottom: 0%;
  right: 0%;
  width: 500px;
  height: 500px;
  -webkit-clip-path: inset(0px 50px 190px 0px);
  clip-path: inset(0px 50px 190px 0px);
}

/*Page 2*/
.bg-green {
    z-index: 1;
    background: #cdf564;
    overflow:hidden;
  }

  

  .section2 {
    text-align: center;
    justify-content: center;
  }

  .section2 > .reveal > button {
    border: none;
    background-color: #ff4632;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 100px;
  }

  .mf {
    color: #f573a0;
  }
  
  .roadmap {
    text-transform: uppercase;
  }
  .swirl1 {
    position: absolute;
    right: 0%;
    top: 200%;
  }

/* Blue Page */

.bg-blue{
    background-color: #5dd3ff;
    color: white;
    overflow:hidden;
}
.mint-grid {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
  
   .mint-box {
    position: absolute;
    text-align: center;
    z-index: 1;
  } 
  
  .mint-box {
    background-color: #ff4632;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 340px;
    align-items: center;
    border-radius: 38px;
  }
  
  .mint-box > div:first-of-type {
    padding-top: 50px;
  }
  
  .stroke1 {
    position: absolute;
    left: 10%;
    top: -6%;
    z-index: 2;
  }
  
  

  /* Large */
  @media screen and (min-width: 800px) {

    .mint-box {
      width: 60%;
    }
      .mint-box > div:first-of-type {
        font-size: 6rem;
      }
      .mint-box > p {
        font-size: 3rem;
      }

      .buttons-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 25px;
      }
      
      .qty-btns {
        margin-right: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        background-color: #ff4632;
        border: 4px solid #f7e32d;
        border-radius: 100px;
        width: 100px;
        height: 43px;
      }
      
      .qty-btns > button {
        font-size: 20px;
        cursor: pointer;
        border: none;
        background: #ff4632;
        color: white;
      }


      .stroke2 {
        position: relative;
        z-index: 0;
        /* top: -50%; */
        left: 16%;
      }
}

/* Average Screen */
@media screen and (max-width: 800px) {
  .bg-blue{
  min-height: 511px;
  }
  .mint-box{
    margin-top: 25%;
  }

  .mint-box > div:first-of-type {
    font-size: 3rem;
  }

  .mint-box > p {
    font-size: 2rem;
  }

  .buttons-row{
    position: relative;
  }

  .qty-btns {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-bottom: 10px;
    align-items: center;
    font-size: 20px;
    background-color: #ff4632;
    border: 4px solid #f7e32d;
    border-radius: 100px;
    width: 100px;
    height: 43px;
  }
  
  .qty-btns > button {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: #ff4632;
    color: white;
  }

      .stroke2 {
        position: relative;
        z-index: 0;
        top: -5%;
        left: 25%;
        width: 80%;
      }
}


/* Page5 Green */
.section4 {
  position: relative;
  z-index: -1;
}

.section4 > .container > .row > .col-lg-6 > h1{
  font-size: 3rem;
  margin-bottom: 50px;
  margin-top: 170px;
}

.section4 > .container > .row > .col-lg-6 > p {
  font-size: 1.5rem;
}

.vector4 {
  position: absolute;
  left: 0;
  top: 60px;
  z-index: -1;
}

.stroke-16 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 55%;
  height: 75%;
  z-index: -1;
}

/*Phone Screen */
@media screen and (max-width: 820px) and (min-width:  400px) {
  .stroke-16 {
    top: 40%;
    left: 5%;
  }
}

/*Phone Screen */
@media screen and (max-width: 400px) {
  .stroke-16 {
    top: 50%;
    left: 10%;
  }
}

.section4 > .container > .row > .mt-max{
  margin-top: 10%;
}

.my-inline{
  display: inline;
}

/* Page 5  Blue Smile*/

.section5 > .col > h1 {
  font-weight: 200;
  font-size: 72px;
}

.section5 > .col > p {
  font-size: 1.5rem;
  color: black;
}

/*Page 6 Yellow */

.bg-yellow{
  background-color: #ffe25f;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.bg-yellow > .container > .row > h1{
  font-size: 72px;
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px;
}

.rect1 {
  background-repeat: no-repeat;
  background-image: url("./assets/Rectangle 18.svg");
  height: 650px;
  width: 300px;
  z-index: 2;
}

 .rect1 > h2 {
  color: #5dd3ff;
  font-size: 30px;
  font-weight: 200;
  width: 200px;
}

.rect1 > p {
  color: white;
  font-size: 22px;
  font-weight: 200;
  width: 200px;
}

.m-top{
  margin-top: 130px;
}

.rect2 {
  background-repeat: no-repeat;
  background-image: url("./assets/Rectangle 24.svg");
  height: 650px;
  width: 300px;
  z-index: 2;
}

.rect2 > h2 {
  color: #5dd3ff;
  font-size: 29px;
  font-weight: 200;
  width: 150px;
}

.rect2 > p {
  color: white;
  font-size: 22px;
  font-weight: 200;
  width: 200px;
  z-index: 2;
}

.rect3 {
  background-repeat: no-repeat;
  background-image: url("./assets/Rectangle 25.svg");
  height: 650px;
  width: 300px;
  z-index: 2;
}

.fill58 {
  position: absolute;
  z-index: 2;
  right: 150px;
  top: 20px;
}
.fill56 {
  position: absolute;
  z-index: 2;
  right: 50px;
  top: 30px;
}
.fill60 {
  position: absolute;
  z-index: 2;
  right: 70px;
  top: 200px;
}

.stroke-28 {
  position: absolute;
  left: 0px;
  bottom: -18%;
  z-index: -1;
}

.rect3 > h2 {
  color: #5dd3ff;
  font-size: 29px;
  font-weight: 200;
  width: 150px;
}

.rect3 > p {
  color: white;
  font-size: 22px;
  font-weight: 200;
  width: 200px;
}



@media screen and (min-width: 1000px) {
  
.ellipse1 {
  position: absolute;
  top: 52%;
  left: 23%;
  transform: translate(-70%, -240%);
}
  .ellipse2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-70%, -240%);
  }
  .ellipse3 {
    position: absolute;
    top: 52%;
    left: 78%;
    transform: translate(-70%, -240%);
  }
}

/* Ipad */

@media screen and (min-width: 720px) and (max-width: 1000px) {
  
  .ellipse1 {
    left: 50%;
    position: absolute;
    top: 20%;
    transform: translate(-70%, -240%);
  }
    .ellipse2 {
      position: absolute;
      top: 51%;
      left:50%;
      transform: translate(-70%, -240%);
    }
    .ellipse3 {
      position: absolute;
      top: 83%;
      left: 50%;
      transform: translate(-70%, -240%);
    }
  }
  
/* Mobile */

@media screen and (min-width: 300px) and (max-width: 710px){
  
  .ellipse1 {
    left: 55%;
    position: absolute;
    top: 20%;
    transform: translate(-70%, -240%);
  }
    .ellipse2 {
      position: absolute;
      top: 51%;
      left:51%;
      transform: translate(-70%, -240%);
    }
    .ellipse3 {
      position: absolute;
      top: 83%;
      left: 51%;
      transform: translate(-70%, -240%);
    }
  }

  /*Galaxy Fold */
  @media screen and (min-width: 200px) and (max-width: 300px){
  
    .bg-yellow > .container > .row > h1{
      font-size: 50px;
    }
    .ellipse1 {
      left: 50%;
      position: absolute;
      top: 20%;
      transform: translate(-70%, -240%);
    }
      .ellipse2 {
        position: absolute;
        top: 50%;
        left:51%;
        transform: translate(-70%, -240%);
      }
      .ellipse3 {
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translate(-70%, -240%);
      }
    }

    div.bg-orange{
      background-color: #FFE25F !important;
    }